
body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    main {
        display: grid;
        height: 100%;

        align-items: center;
        justify-items: center;
        table {
            width: 90vh;
            height: 90vh;
            td {
                width: fit-content;
                height: fit-content;
                border: 1px solid;
            }
        }
    }
}
    